.button {
    background-color: #b50707;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    float: left;}
.button:hover {
    background-color: #d02929;}
#menuBar {
    font-size:100%;
    background-color:#b50707;
    color:white;
    padding-bottom: 30px;}

